:root{
    /*colors*/
    --color-text: #B2BEB5;
    --color-primary: rgba(232, 128, 128, 0.929);
    --color-secondary: rgba(173, 41, 41, 0.929);
    --color-dark: rgba(102, 22, 22, 0.929);
    --color-bg:  rgba(70, 7, 7, 0.929);
    /*fonts*/
    --font-robot: "Roboto";
}