.ExperienceImage{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-left: 35%;
    margin-right: 35%;
}
.container {
    position: relative;
    border-radius: 15px;
    padding: 73px;     
    margin-top: 129px;
    z-index: 1;
    margin-right: 10%;
    margin-left: 10%;
    background: linear-gradient(135deg, #f8a3a3, #b46060);
}
.title{
    color: rgb(219, 199, 199);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 10%;

}
.content{
    color: rgb(219, 199, 199);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    gap: 45px;
}
.contentItemDetails h3{
    font-size: 30px;
    font-weight: 500;
}
.contentItemDetails p{
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 30px;
}

    
@media screen and (max-width: 2000px) {
    .title{
        font-size: 32px;
    }
    .contentItemDetails h3{
        font-size: 20px;
        font-weight: 500;
}
    .contentItemDetails p{
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 30px;
}
}
@media screen and (max-width: 992px) {
    .content{
        flex-wrap: wrap;
        gap: 20px;
    }
    .title{
        font-size: 25px;
    }
    .contentItemDetails h3{
        font-size: 20px;
        font-weight: 500;
}
    .contentItemDetails p{
        font-size: 15px;
        margin-top: 6px;
        margin-bottom: 30px;
}
.ExperienceImage{
    width: 65px;
    height: 65px;
    object-fit: contain;
    margin-left: 35%;
    margin-right: 35%;
}
}
@media screen and (max-width: 480px) {
    .container {
    background-color: transparent;
    padding-left: 15px;
        padding-right: 15px;
    
}
  .content{
        flex-wrap: wrap;
        gap: 10px;
    }
    .title{
        font-size: 20px;
    }
    .contentItemDetails h3{
        font-size: 15px;
        font-weight: 500;
}
    .contentItemDetails p{
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
}
.ExperienceImage{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-left: 35%;
    margin-right: 35%;
}
}
